body {
    font-family: sans-serif;
    background-color: teal;
    margin: 0;
    padding: 0;
}

.top-bar {
    display: grid;
    grid-template-columns: 2fr .8fr 1.1fr 2.5fr 1.5fr 3fr 5fr 5fr 4fr 4fr;
    grid-gap: 4px;
    background-color: navy;
    height: 5vh;
    padding: 5px;
}

.space1 {
    background-color: navy;
    height: 5vh;
}

.tab1 {
    background-color: lightsalmon;
    height: 5vh;
}

.tab2 {
    background-color: darkorange;
    height: 5vh;
}

.tab3 {
    background-color: lightsalmon;
    height: 5vh;
}

.tab4 {
    background-color: darkorange;
    height: 5vh;
}

.tab5 {
    background-color: lightsalmon;
    height: 5vh;
}

.tab6 {
    background-color: darkorange;
    height: 5vh;
}

.space2 {
    background-color: navy;
    height: 5vh;
}

.search {
    background-color: white;
    height: 5vh;
}

.space3 {
    background-color: navy;
    height: 5vh;
}

.lowerbar {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: teal;
}

.space4 {
    background-color: teal;
    height: 5vh;
}

.lowerbar {
    background-color: lightskyblue;
    height: 5vh;
}

.space5 {
    background-color: teal;
    height: 5vh;
}

.title-bar {
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    background-color: teal;
    margin-top: 10px;
}

.space6 {
    background-color: teal;
    height: 7vh;
}

.logo {
    background-color: navy;
    height: 7vh;
}

.space7 {
    background-color: teal;
    height: 7vh;
}


.tabset2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    background-color: teal;
    grid-gap: 10px;
    margin-top: 10px;
}

.space8 {
    background-color: teal;
    height: 5vh;
}

.tab11 {
    background-color: lightskyblue;
    height: 5vh;
}

.tab12 {
    background-color: lightskyblue;
    height: 5vh;
}

.tab13 {
    background-color: lightskyblue;
    height: 5vh;
}

.tab14 {
    background-color: lightskyblue;
    height: 5vh;
}

.tab15 {
    background-color: lightskyblue;
    height: 5vh;
}

.tab16 {
    background-color: lightskyblue;
    height: 5vh;
}

.tab17 {
    background-color: lightskyblue;
    height: 5vh;
}

.tab18 {
    background-color: lightskyblue;
    height: 5vh;
}

.tab19 {
    background-color: lightskyblue;
    height: 5vh;
}

.tab20 {
    background-color: lightskyblue;
    height: 5vh;
}

.space9 {
    background-color: teal;
    height: 5vh;
}

.main-image {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    background-color: teal;
    grid-gap: 10px;
    margin-top: 10px;
}

.space10 {
    background-color: teal;
    height: 30vh;
}

.image1 {
    background-color: darkorange;
    height: 30vh;
}

.space11 {
    background-color: teal;
    height: 30vh;
}

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: darkorchid;
    grid-gap: 10px;
    margin-top: 10px;
}

.tabset3 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-gap: 10px;
    background-color: teal;
    height: 10vh;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 400px;
}

.tab21 {
    background-color: navy;
    height: 10px;
}

.tab26 {
    background-color: navy;
    height: 10px; 
}

.tab22 {
    background-color: navy;
    height: 10px; 
}

.tab27 {
    background-color: navy;
    height: 10px; 
}

.tab23 {
    background-color: navy;
    height: 10px; 
}

.tab28 {
    background-color: navy;
    height: 10px; 
}

.tab24 {
    background-color: navy;
    height: 10px; 
}

.tab29 {
    background-color: navy;
    height: 10px; 
}

.tab25 {
    background-color: navy;
    height: 10px; 
}

.tab30 {
    background-color: navy;
    height: 10px; 
}

.content3 {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 30px;
    height: 30vh;
    background-color: teal;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.image2 {
    background-color: lightskyblue;
    height: 60vh;
}

.image3 {
    background-color: lightsalmon;
    height: 65vh;
}

.titleset1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 20vh;
    margin-top: 40vh;
}

.space12 {
    background-color: teal;
    height: 5vh;
}

.title1 {
    background-color: navy;
    height: 5vh;
}

.space13 {
    background-color: teal;
    height: 5vh;
}

.titleset2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    height: 20vh;
    margin-top: .1vh;
}

.space14 {
    background-color: teal;
    height: 5vh;
}

.title2 {
    background-color: lightskyblue;
    height: 5vh;
    margin-top: 1px;
}

.space15 {
    background-color: teal;
    height: 5vh;
}

.content4 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
    padding: 50px;
    background-color: teal;
    margin-top: .1px;

}

.image4 {
    background-color: darkorange;
    height: 60vh;
}

.image5 {
    background-color: lightsalmon;
    height: 40vh;
}

.image6 {
    background-color: darkorange;
    height: 40vh;
}

.text-set {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 400px;
}

.text1 {
    background-color: lightskyblue;
    height: 10vh; 
    margin-top: -180px;
}

.text2 {
    background-color: navy;
    height: 13vh; 
    margin-top: -180px;
}

.text3 {
    background-color: darkorange;
    height: 5vh; 
    margin-top: -90px;
    margin-left: 400px;
    margin-right: 270px;
}

.content5 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding: 50px;
    background-color: teal;
    margin-top: .1px;

}

.image7 {
    background-color: lightskyblue;
    height: 40vh;
}

.image8 {
    background-color: navy;
    height: 50vh;
}

.content6 {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    background-color: teal;
    margin: 30px;
    padding: 30px;
    grid-gap: 30px;
}

.image9 {
    background-color: lightsalmon;
    height: 60vh;
}

.image10 {
    background-color: darkorange;
    height: 40vh;
}


.text-set2 {
    display: grid;
    grid-template-columns: .2fr .2fr;
    grid-gap: 20px;
    margin-top: 30px;
    padding: 30px;
    margin-left: 280px;
}

.text6 {
    background-color: navy;
    height: 10vh; 
    margin-top: -30vh;
}

.text7 {
    background-color: lightskyblue;
    height: 10vh; 
    margin-top: -30vh;
}

.text5 {
    background-color: darkorange;
    height: 5vh; 
    margin-top: -21vh;
    
}

.content7 {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    background-color: lightskyblue;
    margin: 30px;
    padding: 30px;
    grid-gap: 10px;
    margin-top: -130px;
}

.title3 {
    background-color: darkorange;
    height: 4vh;
    margin-top: -10px;
    margin-right: -600px;
}




.image11 {
    background-color: lightsalmon;
    height: 60vh;
    margin-top: 6.5vh;
}

.text8 {
    background-color: navy;
    height: 60vh;
    margin-top: 50px;
    
}

.text9 {
    background-color: navy;
    height: 13vh;
    margin-bottom: -200px;
    margin-top: 320px;

}




.image12 {
    background-color: darkorange;
    height: 12vh;
    margin-top: -12vh;
}

.text10 {
    background-color: darkorange;
    height: 5vh;
    margin-top: 2vh;
}

.text12 {
    background-color: darkorange;
    height: 5vh;
    margin-top: 2vh;
}

.text11 {
    background-color: darkorange;
    height: 11vh;
    margin-top: -12.4vh;
}

.content8 {
    display: grid;
    background-color: teal;
}
.image13 {
    background-color: darkorange;
    height: 80vh;
    margin-top: 2vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.bigtext {
    background-color: lightskyblue;
    height: 10vh;
    margin-top: 20vh;
    margin-left: 90px;
    margin-right: 110px;
}

.content10 {
    background-color: lightsalmon;
    height: 13vh;
    padding: 10px;
    margin-left: 4vw;
    margin-right: 4vw;
}

.title4 {
    background-color: orangered;
    height: 4vh;
    margin-top: 1vh;
    margin-left: 50px;
    margin-right: 50px;
}



.title5 {
    background-color: navy;
    height: 4vh;
    margin-top: 5vh;
   margin-left: 35vh;
   margin-right: 35vh;
}

.content11 {
    grid-template-columns: 2fr 1fr 1fr;
    display: grid;
    background-color: teal;
    margin-left: 4vw;
    margin-right: 4vw;
    grid-gap: 10px;
}
.image14 {
    background-color: navy;
    height: 80vh;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 20px;
}

.text13 {
    background-color: lightskyblue
    height 10vh;
}

.text14 {
    background-color: darkorange
    height 10vh;
}

.text15 {
    background-color: orangered
    height 10vh;
}

.image15 {
    background-color: lightskyblue;
    height: 40vh;
    margin-top: -400px;
}

.image16 {
    background-color: lightsalmon;
    height: 40vh;
    margin-top: -400px;
}

.text16 {
    background-color: darkorange;
    height: 4vh;
    margin-left: 4vw;
    margin-right: 10px;
}

.title6 {
    background-color: orangered;
    height: 3vh;
    margin-top: 3vh;
    margin-left: 27vw;
    margin-right: 27vw;
}

.imageset4 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
    background-color: darkorange;
    height: 20vh;
    padding: 20px;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 2px;
}

.image17 {
    background-color: navy;
    height: 27vh;
    margin-top: 60px;
}

.image18 {
    background-color: navy;
    height: 27vh;
    margin-top: 60px;
}

.image19 {
    background-color: navy;
    height: 27vh;
    margin-top: 60px;
}

.image20 {
    background-color: navy;
    height: 27vh;
    margin-top: 60px;
}

.image21 {
    background-color: navy;
    height: 27vh;
    margin-top: 60px;
}

.imageset5 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
    background-color: teal;
    padding: 20px;
    margin-left: 4vw;
    margin-right: 4vw;
}

.text17 {
    background-color: lightskyblue;
    height: 6vh;
    margin-top: 7vh;
}

.text18 {
    background-color: lightskyblue;
    height: 6vh;
    margin-top: 7vh;
}

.text19 {
    background-color: lightskyblue;
    height: 6vh;
    margin-top: 7vh;
}

.text20 {
    background-color: lightskyblue;
    height: 6vh;
    margin-top: 7vh;
}

.text21 {
    background-color: lightskyblue;
    height: 6vh;
    margin-top: 7vh;
}

.footer {
    background-color: orangered;
    height: 4vh;
    margin-right: 250px;
    margin-left: 250px;
}