body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.top-tab {
    display: grid;
    grid-template-columns: .5fr 1fr 2fr 3fr 2fr .5fr .5fr .5fr .5fr;
    grid-gap: 5px;
    height: 4vh;
    background-color: white;
    padding: 5px;
}

.left-tab {
    background-color: yellow;
    height: 6vh;
}

.logo {
    background-color: green;
    height: 6vh;
}

.space {
    background-color: white;
    height: 6vh;
}

.search {
    background-color: yellowgreen;
    height: 6vh;
}

.space2 {
    background-color: white;
    height: 6vh;
}

.item1 {
    background-color: seagreen;
    height: 6vh;
}

.item2 {
    background-color: seagreen;
    height: 6vh;
}

.item3 {
    background-color: seagreen;
    height: 6vh;
}

.item4 {
    background-color: seagreen;
    height: 6vh;
}

.main {
    grid-template-columns: 1fr 3fr;
    display: grid;
    background-color: white;
    height: 400vh;
    padding-top: 10px;
    margin-top: 10px;
    border: solid white;
}

.sidebar1 {
    background-color: seagreen;
    height: 5vh;
    border: solid white;
}

.sidebar2 {
    background-color: seagreen;
    height: 5vh;
    border: solid white;
}

.sidebar3 {
    background-color: seagreen;
    height: 5vh;
    border: solid white;
}

.sidebar4 {
    background-color: seagreen;
    height: 5vh;
    border: solid white;
}

.sidebar5 {
    background-color: seagreen;
    height: 5vh;
    border: solid white;
}

.sidebar6 {
    background-color: seagreen;
    height: 5vh;
    border: solid white;
}

.sidebar7 {
    background-color: darkgreen;
    height: 5vh;
    border: solid white;
}

.sidebar8 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar9 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar10 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar11 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar12 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar13 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar14 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar15 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar16 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar17 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar18 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar19 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar20 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar21 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar22 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar23 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar24 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar25 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar26 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar27 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar28 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.sidebar29 {
    background-color: yellowgreen;
    height: 5vh;
    border: solid white;
}

.content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
    background-color: darkolivegreen;
    width: 50vw;
  
    height: 40vh;
    margin-top: 3px;
    padding: 15px;
  }

  .video {
      background-color: darkgreen;
      height: 30vh;
  }

  .imageset {
     background-color: darkolivegreen;
     height: 30vh;
  }

  .image1 {
      background-color: yellowgreen;
      height: 12vh;
      border: solid darkolivegreen;
  }

  .image2 {
    background-color: seagreen;
    height: 12vh;
    border: solid darkolivegreen;
}

.content2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    background-color: darkolivegreen;
    width: 70vw;
  
    height: 200vh;
    margin-top: 2vw;
    padding: 15px;
}

.thumbnail1 {
    background-color: seagreen;
    height: 20vh;
}

.thumbnail2 {
    background-color: seagreen;
    height: 20vh;
}



.thumbnail3 {
    background-color: seagreen;
    height: 20vh;
}

.thumbnail4 {
    background-color: seagreen;
    height: 20vh;
}


.text1 {
    background-color: yellowgreen;
    height: 7vh;
}

.text2 {
    background-color: yellowgreen;
    height: 7vh;
}

.text3 {
    background-color: yellowgreen;
    height: 7vh;
}

.text4 {
    background-color: yellowgreen;
    height: 7vh;
}

.thumbnail5 {
    background-color: seagreen;
    height: 20vh;
}

.thumbnail6 {
    background-color: seagreen;
    height: 20vh;
}



.thumbnail7 {
    background-color: seagreen;
    height: 20vh;
}

.thumbnail8 {
    background-color: seagreen;
    height: 20vh;
}

.thumbnail9 {
    background-color: seagreen;
    height: 20vh;
}

.text5 {
    background-color: yellowgreen;
    height: 7vh;
}

.text6 {
    background-color: yellowgreen;
    height: 7vh;
}

.text7 {
    background-color: yellowgreen;
    height: 7vh;
}

.text8 {
    background-color: yellowgreen;
    height: 7vh;
}

.thumbnai9 {
    background-color: seagreen;
    height: 20vh;
}

.thumbnail10 {
    background-color: seagreen;
    height: 20vh;
}



.thumbnail11 {
    background-color: seagreen;
    height: 20vh;
}

.thumbnail12 {
    background-color: seagreen;
    height: 20vh;
}


.text9 {
    background-color: yellowgreen;
    height: 7vh;
}

.text10 {
    background-color: yellowgreen;
    height: 7vh;
}

.text11 {
    background-color: yellowgreen;
    height: 7vh;
}

.text12 {
    background-color: yellowgreen;
    height: 7vh;
}

.thumbnail13 {
    background-color: seagreen;
    height: 20vh;
}

.thumbnail14 {
    background-color: seagreen;
    height: 20vh;
}



.thumbnail15 {
    background-color: seagreen;
    height: 20vh;
}

.thumbnail16 {
    background-color: seagreen;
    height: 20vh;
}


.text13 {
    background-color: yellowgreen;
    height: 7vh;
}

.text14 {
    background-color: yellowgreen;
    height: 7vh;
}

.text15 {
    background-color: yellowgreen;
    height: 7vh;
}

.text16 {
    background-color: yellowgreen;
    height: 7vh;
}

.post1 {
    background-color: teal;
    height: 10vh;
}

.post2 {
    background-color: teal;
    height: 10vh;
}

.post3 {
    background-color: teal;
    height: 10vh;
}

.post4 {
    background-color: teal;
    height: 10vh;
}

.thumbnail17 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail18 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail19 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail20 {
    background-color: seagreen;
    height: 15vh;
}

.text17 {
    background-color: yellowgreen;
    height: 10vh;
}

.text18 {
    background-color: yellowgreen;
    height: 10vh;
}

.text19 {
    background-color: yellowgreen;
    height: 10vh;
}

.text20 {
    background-color: yellowgreen;
    height: 10vh;
}

.post5 {
    background-color: teal;
    height: 15vh;
}

.post6 {
    background-color: teal;
    height: 15vh;
}

.post7 {
    background-color: teal;
    height: 15vh;
}

.post8 {
    background-color: teal;
    height: 15vh;
}

.thumbnail21 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail22 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail23 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail24 {
    background-color: seagreen;
    height: 15vh;
}

.text21 {
    background-color: yellowgreen;
    height: 10vh;
}

.text22 {
    background-color: yellowgreen;
    height: 10vh;
}

.text23 {
    background-color: yellowgreen;
    height: 10vh;
}

.text24 {
    background-color: yellowgreen;
    height: 10vh;
}

.thumbnail25 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail26 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail27 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail28 {
    background-color: seagreen;
    height: 15vh;
}

.text25 {
    background-color: yellowgreen;
    height: 10vh;
}

.text26 {
    background-color: yellowgreen;
    height: 10vh;
}

.text27 {
    background-color: yellowgreen;
    height: 10vh;
}

.text28 {
    background-color: yellowgreen;
    height: 10vh;
}

.thumbnail29 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail30 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail31 {
    background-color: seagreen;
    height: 15vh;
}

.thumbnail32 {
    background-color: seagreen;
    height: 15vh;
}

.text29 {
    background-color: yellowgreen;
    height: 10vh;
}

.text30 {
    background-color: yellowgreen;
    height: 10vh;
}

.text31 {
    background-color: yellowgreen;
    height: 10vh;
}

.text32 {
    background-color: yellowgreen;
    height: 10vh;
}